.swiper-container {
    width: 100%;
    max-width: 1080px;
    height:250px;
  }
  

  @media screen and (min-width: 640px) {
    .swiper-container {
      height: 350px;
    }
}
  
  @media screen and (min-width: 768px) {
    .swiper-container {
      height: 450px;
    }
  }

.swiper-slide {
    text-align: center;
    justify-items: center;
    align-items: center;
}
